h1 {
    text-align: center;
    color: #24ac24;
    font-size: 50px;
    text-shadow: 2px 2px 2px 2px #1F801F;
}

hr {
    color: #23ac23;
    font-size: 8px;
}

body {
    background-color: #000;
    font-family: 'Abel', sans-serif;
    color: #111;
}

main {
    background-color: #000;
    height: 100%;
    width: 100%;
    margin: 0 25px 0 25px;
}

.backdiv {
    background-color: #111;
    color: rgb(31, 143, 31);
    padding: 5px 0 5px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 75%;
    border-style: ridge;
    border-width: 4px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}

div {
    background-color: #000;
    margin: 3px 0 3px 0;
    padding: 7.5px 2.5px 7.5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 75%;
    border-style: solid;
    border-width: 4px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
    text-shadow: 2px 2px 2px 2px #1F801F;
}

.dta {
    color: limegreen;
    font-size: 28px;
    box-shadow: 5px 5px 2.5px #333;
}

.ya {
    color: limegreen;
    font-size: 28px;
    box-shadow: 5px 5px 2.5px #333;
}

.yb {
    color: darkslategrey;
    font-size: 18px;
    box-shadow: 5px 5px 2.5px #333;
}

.yc {
    color: darkslategrey;
    font-size: 18px;
    box-shadow: 5px 5px 2.5px #333;
}

.yd {
    color: darkslategrey;
    font-size: 18px;
    box-shadow: 5px 5px 2.5px #333;
}

.ma {
    color: limegreen;
    font-size: 28px;
    box-shadow: 5px 5px 2.5px #333;
}

.mb {
    color: darkslategrey;
    font-size: 18px;
    box-shadow: 5px 5px 2.5px #333;
}

.da {
    color: limegreen;
    font-size: 28px;
    box-shadow: 5px 5px 2.5px #333;
}

.ha {
    color: limegreen;
    font-size: 28px;
    box-shadow: 5px 5px 2.5px #333;
}

.hb {
    color: darkslategrey;
    font-size: 24px;
    box-shadow: 5px 5px 2.5px #333;
}

.ma {
    color: limegreen;
    font-size: 28px;
    box-shadow: 5px 5px 2.5px #333;
}

.sa {
    color: limegreen;
    font-size: 28px;
    box-shadow: 5px 5px 2.5px #333;
}

.mia {
    color: limegreen;
    font-size: 28px;
    box-shadow: 5px 5px 2.5px #333;
}

.mib {
    color: darkslategrey;
    font-size: 18px;
    box-shadow: 5px 5px 2.5px #333;
}

.la {
    color: darkslategray;
    font-size: 24px;
    box-shadow: 5px 5px 2.5px #333;
}

.lm {
    color: darkslategrey;
    font-size: 18px;
    box-shadow: 5px 5px 2.5px #333;
}

.hia {
    color: darkslategray;
    font-size: 24px;
    box-shadow: 5px 5px 2.5px #333;
}

.hm {
    color: darkslategrey;
    font-size: 18px;
    box-shadow: 5px 5px 2.5px #333;}

.ra {
    color: limegreen;
    font-size: 28px;
    box-shadow: 5px 5px 2.5px #333;}
