main,
body {
    background-color: #000000;
    height: 90vw;
    font-family: 'Press Start 2P', Arial, Helvetica, sans-serif;
    font-weight: 200;
}

#footerbox {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 96.74%;
    padding: 20px;
    border-top-style: ridge;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
    border-top-color: #7efd00;
}

footer {
    color: lawngreen;
    align-self: flex-start;
    font-family: monospace;
}

h1,
h2 {
    color: #7efd00;
    text-align: center;
}

h1,
h2,
.biggreen {
    text-shadow: 1px 1px #207000, 2px 2px #007020, 3px 3px #010101;
}

.medgrey,
.litgrey {
    text-shadow: 1px 1px #002070, 2px 2px #702000, 3px 3px #010101;
}

.backdiv {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    background-color: #111111;
    color: #333;
    width: 75vw;
}

.item {
    height: 2rem;
    width: 10rem;
    text-decoration: none;
}

div {
    background-color: #222;
    width: 75%;
}

.backdiv,
div {
    flex: 2 0 100px;
    border-style: outset;
    border-width: 5px;
    border-radius: 1px 1px 1px 1px;
    text-align: center;
}

body,
.backdiv,
div {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.biggreen {
    color: #7efd00;
    font-size: 24px;
    flex: 3 25px;
    font-weight: 600;
}

.medgrey {
    color: #838383;
    font-size: 20px;
    flex: 2 25px;
    font-weight: 400;
}

.litgrey {
    color: #838383;
    font-size: 10px;
    flex: 1 25px;
    font-weight: 200;
}

.biggreen {
    box-shadow: 5px 5px 5px #80ff00;
    align-self: center;
    margin: 10px 0 10px 0;
}

.medgrey,
.litgrey {
    box-shadow: 5px 5px 5px #a0a0a0;
    align-self: center;
    margin: 10px 0 10px 0;
}

@media (max-width: 480px) {
    .backdiv,
    div {
        flex: 1 75vw;
    }
    .biggreen {
        font-size: 20px;
        flex: 3 75px;
        box-shadow: 3px 3px 3px #80ff00;
    }
    .medgrey {
        font-size: 16px;
        flex: 2 50px;
        box-shadow: 3px 3px 3px #a0a0a0;
    }
    .ligrey {
        font-size: 8px;
        flex: 1 25px;
        box-shadow: 3px 3px 3px #a0a0a0;
    }
}