main,
body {
    background-color: #000000;
}

.backdiv {
    background-color: #111111;
    color: rgb(36, 148, 36);
    border-radius: 20px 20px 20px 20px;
    padding: 5px 2.5px 2.5px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 75%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}

div {
    background-color: #222;
    color: white;
    border-radius: 20px 20px 20px 20px;
    padding: 5px 2.5px 2.5px 5px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 75%;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px 20px 20px 20px;
    text-align: center;
}

.dta,
.ya,
.ma,
.da,
.ha,
.sa,
.mia,
.ra {
    color: limegreen;
    font-size: 28px;
}

.yb,
.yc,
.yd,
.mb,
.hb,
.mib,
.lm,
.hm {
    color: darkslategrey;
    font-size: 18px;
}

.la,
.hia {
    color: darkslategray;
    font-size: 24px;
}